# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\React Practice 2021\quiz-app-final-02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
